{% extends "base.html" %}

{% block title %}Игроки{% endblock %}

{% block content %}
    <h2>Список игроков</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Позиция</th>
                <th>Команда</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.id }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.team.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
